<strong>Olá, {{deliveryman}}</strong>
<p>Houve um cancelamento na encomenda, segue detalhes abaixo!</p>
<p>Encomenda Id: {{id}} - Produto: {{product}}</p>
<p>Data/Hora do cancelamento: {{date}}
<p>
  <br />
  <small>
    Quaisquer duvidas entrar em contato
  </small>
</p>
